@font-face {
    font-family: 'Nevrada';
    src: url(../fonts/final/nevrada.ttf);
}

@font-face {
    font-family: 'Angrecia';
    src: url(../fonts/final/anglecia.otf);
}

// --menu-font
// --title-font
// --sub-title-font
// --sub-title-font
// -heading-font