@font-face {
    font-family: 'DM';
    src: url(../fonts/final/DMSerifDisplay-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Medium';
    src: url(../fonts/final/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto Regular';
    src: url(../fonts/final/Roboto-Regular.ttf);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM' !important;
}

.text-subtitle {
    font-family: 'Roboto Medium' !important;
}

p, small {
    font-family: 'Roboto Regular' !important;
}